.heading {
  color: white;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* to hide the shaking in the animation */
  margin-bottom: 30px;
}
.heading-main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;
  display: block;
  -webkit-animation-name: moveinleft;
          animation-name: moveinleft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* animation-delay: 3s;
    animation-iteration-count: 3; */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-main {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}
.heading-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  /* animation-name: moveinright;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
  -webkit-animation: moveinright 1s ease-out;
          animation: moveinright 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-sub {
    letter-spacing: 5px;
  }
}
.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.5rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 26.56em) {
  html {
    font-size: 40%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 80%;
  }
}

body {
  font-family: "Lato", sans-serif;
  padding: 3rem;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.5rem;
  color: #777;
  background-color: #f7f7f7;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #55c57a;
  color: white;
}

::selection {
  background-color: #55c57a;
  color: white;
}

.center-text {
  text-align: center;
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

.margin-bottom-med {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

.margin-top-big {
  margin-top: 6rem;
}

.margin-top-med {
  margin-top: 4rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-bottom-custom {
  margin-bottom: 6rem;
}
@media only screen and (max-width: 37.5em) {
  .margin-bottom-custom {
    margin-bottom: 2rem !important;
  }
}

@-webkit-keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px);
    /*  transform: translateX(10px) rotate(180deg); */
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px);
    /*  transform: translateX(10px) rotate(180deg); */
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (max-width: 37.5em) {
  .row {
    max-width: 60rem;
    padding: 0 3rem;
  }
}
.row:first-child {
  margin-top: 8rem;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 37.5em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-2 {
  width: calc((100% - 3rem) / 2);
}
.row .col-1-3 {
  width: calc((100% - 3rem* 2) / 3);
}
.row .col-1-4 {
  width: calc((100% - 3rem* 3) / 4);
}

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 5rem 10rem;
  margin-top: -20vh;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  position: absolute;
  outline-offset: 1rem;
  transition: all 0.2s;
}
.composition__photo-p1 {
  left: 0;
  top: -2rem;
}
@media only screen and (max-width: 37.5em) {
  .composition__photo-p1 {
    top: 0;
    transform: scale(1.2);
  }
}
.composition__photo-p2 {
  right: 0;
  top: 0;
}
@media only screen and (max-width: 37.5em) {
  .composition__photo-p2 {
    transform: scale(1.3);
    top: -1rem;
    z-index: 10;
  }
}
.composition__photo-p3 {
  left: 20%;
  top: 8rem;
}
@media only screen and (max-width: 37.5em) {
  .composition__photo-p3 {
    transform: scale(1.1);
    top: 1rem;
    left: 0;
  }
}
.composition__photo:hover {
  z-index: 20;
  transform: scale(1.05) translateY(-0.5rem);
  outline: 0.7rem solid #55c57a;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.33333%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.section-features {
  padding: 5rem 3rem 10rem;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}
@media only screen and (max-width: 37.5em) {
  .section-features {
    margin-top: 0;
  }
}

.feature-box {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.feature-box-icon {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.1);
}

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* center */
  /* clip-path: polygon(50% 0,100% 100%, 0 100% ); */
  /* x y   clock wise*/
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    height: 95vh;
  }
}
@media only screen and (min-resolution: 192di) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125.5em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  }
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* in relation to the parent */
  transform: translate(-50%, -50%);
  /* in relation to the element */
  text-align: center;
}

.logo-box {
  position: absolute;
  top: 2rem;
  left: 1rem;
}

.logo {
  height: 3rem;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border: none;
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn-green {
  background-color: #55c57a;
  color: white;
  font-size: 1.5rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.btn:active,
.btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.btn::after {
  content: "";
  display: inline-block;
  /* have to specify above 2 */
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #ffffff;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.2);
  opacity: 0;
  /* z-index: 1; */
}

.btn-animated {
  -webkit-animation: moveinbottom 0.5s ease-out 0.75s;
          animation: moveinbottom 0.5s ease-out 0.75s;
  /* animation-delay: .75s; */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text {
  transition: all 0.2s;
}
.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.5rem;
}
.btn-text:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
  background-color: #55c57a;
  color: white;
}
.btn-text:active {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 10rem 5rem 3rem;
}

.card {
  background-color: #ffffff;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card-side {
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 50rem;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.card-side-back {
  transform: rotateY(180deg);
}
.card-side-back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card-side-back-2 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card-side-back-3 {
  background-image: linear-gradient(to right bottom, #fa6a91, #d81a4c);
}
.card:hover .card-side-front {
  transform: rotateY(-180deg);
}
.card:hover .card-side-back {
  transform: rotateY(0deg);
}
.card-picture {
  background-size: cover;
  height: 50%;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card-picture-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card-picture-2 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-6.jpg);
}
.card-picture-3 {
  background-image: linear-gradient(to right bottom, #fa6a91, #d81a4c), url(../img/nat-7.jpg);
}
.card-heading {
  font-size: 2.3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  text-align: right;
  position: absolute;
  top: 35%;
  right: 2rem;
  width: 75%;
}
.card-heading-span {
  padding: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card-heading-span-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}
.card-heading-span-2 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}
.card-heading-span-3 {
  background-image: linear-gradient(to right bottom, rgba(250, 106, 145, 0.8), rgba(216, 26, 76, 0.8));
}
.card-details {
  padding: 0 3rem 3rem;
}
.card-details ul {
  margin: 0 auto;
  list-style: none;
  width: 80%;
}
.card-details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card-details ul li:first-child {
  margin-top: 1rem;
}
.card-details ul li:not(:last-child) {
  border-bottom: 0.1rem solid #eee;
}
.card-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.card-price {
  color: white;
  margin-bottom: 8rem;
  text-align: center;
}
.card-price-only {
  font-size: 1.5rem;
}
.card-price-value {
  font-weight: 100;
  font-size: 6rem;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  }
  .card-side {
    position: relative;
    height: 55rem;
    box-shadow: none;
  }
  .card-side-back {
    height: auto;
    padding-bottom: 4rem;
    transform: rotateY(0deg);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card-details {
    padding: 1rem;
  }
  .card-details ul li {
    font-size: 1.8rem;
  }
  .card:hover .card-side-front {
    transform: rotateY(0deg);
  }
  .card-cta {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(0);
  }
  .card-price {
    color: white;
    margin-bottom: 4rem;
    text-align: center;
  }
  .card-price-only {
    padding-top: 8rem;
  }
  .card-price-value {
    font-weight: 100;
    font-size: 6rem;
  }
}

.section-stories {
  padding: 3rem 0;
  position: relative;
}

.bg-video {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}
.bg-video-content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  transform: skewX(-15deg);
}
@media only screen and (max-width: 37.5em) {
  .story {
    width: 100%;
    padding: 3rem;
    transform: skewX(0);
  }
}
.story-shape {
  height: 10rem;
  width: 10rem;
  position: relative;
  float: left;
  border-radius: 50%;
  transform: translateX(-2rem) skewX(15deg);
  overflow: hidden;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
  .story-shape {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .story-shape {
    transform: translateX(-2rem) skewX(0);
  }
}
.story-shape-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story-shape-img {
  height: 100%;
  transform: translateX(-2.5rem) scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.2s;
}
.story-shape:hover .story-shape-name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.story-shape:hover .story-shape-img {
  filter: blur(3px);
  transform: translateX(-2.5rem) scale(1);
}
.story-text {
  transform: skewX(15deg);
}
@media only screen and (max-width: 37.5em) {
  .story-text {
    transform: skewX(0);
  }
}

.section-book {
  padding: 0 7rem 8rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  background-size: 100%;
  border-radius: 3px;
  background-image: cover;
}
@media only screen and (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 65%, transparent 65%), url(../img/nat-10.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 37.5em) {
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
    background-size: cover;
  }
}
.book-block {
  padding-top: 1rem;
}

.form {
  width: 50%;
  padding: 2rem;
}
@media only screen and (max-width: 75em) {
  .form {
    width: 65%;
  }
}
@media only screen and (max-width: 37.5em) {
  .form {
    width: 100%;
  }
}
.form-group:not(:last-child) {
  margin-bottom: 2rem;
}
.form-input {
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  font-family: inherit;
  color: inherit;
  display: block;
  width: 90%;
  border-bottom: 3px solid transparent;
}
.form-input::-webkit-input-placeholder {
  color: #777;
  font-size: 1rem;
}
.form-input:focus {
  outline: none;
  border-bottom: 3px solid #28b485;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}
.form-input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form-label {
  transition: all 0.3s;
  display: block;
}
.form-input:-moz-placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form-input:-ms-input-placeholder + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form-radio-group {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 37.5em) {
  .form-radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form-radio-input {
  visibility: hidden;
}
.form-radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 1rem;
}
.form-radio-button {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #55c57a;
  position: absolute;
  top: -0.25rem;
  left: -1.25rem;
}
.form-radio-button::after {
  height: 1rem;
  width: 1rem;
  display: block;
  content: "";
  background-color: #55c57a;
  border-radius: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1;
}

.footer {
  background-color: #383737;
  padding: 4rem;
  font-size: 1.5rem;
}
.footer-logo-box {
  text-align: center;
}
.footer-logo {
  width: 15rem;
  height: auto;
}
.footer-navigation {
  width: 80%;
  display: inline-block;
  margin-left: 1.5rem;
  border-top: 1px solid #777;
  padding-top: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .footer-navigation {
    width: 100%;
    text-align: center;
  }
}
.footer-list {
  list-style: none;
}
.footer-item {
  display: inline-block;
  margin-left: 1.5rem;
}
.footer-link:link, .footer-link:visited {
  color: #f7f7f7;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
}
.footer-link:hover, .footer-link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.3);
  transform: rotate(5deg) scale(1.1);
}
.footer-copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  text-align: right;
  margin-right: 1.5rem;
  float: right;
}
@media only screen and (max-width: 37.5em) {
  .footer-copyright {
    width: 100%;
    text-align: center;
    float: none;
  }
}

.navigation-checkbox {
  display: none;
}
.navigation-button {
  background-color: white;
  height: 5rem;
  width: 5rem;
  top: 4rem;
  right: 4rem;
  position: fixed;
  border-radius: 50%;
  z-index: 300;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navigation-button {
    top: 2rem;
    right: 2rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .navigation-button {
    top: 1.5rem;
    right: 1.5rem;
  }
}
.navigation-background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.2, 1);
  background-image: radial-gradient(#7ed56f, #28b485);
}
@media only screen and (max-width: 56.25em) {
  .navigation-background {
    top: 2.5rem;
    right: 2.5rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .navigation-background {
    top: 1.5rem;
    right: 1.5rem;
  }
}
.navigation-nav {
  height: 100vh;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transition: opacity 0.8s;
}
.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation-item {
  margin: 1rem;
}
.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-size: 230%;
  transition: all 0.5s;
  background-image: linear-gradient(120deg, transparent 0, transparent 50%, white 50%, white 100%);
}
.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80);
}
.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}
.navigation-icon {
  margin-top: 2.5rem;
  position: relative;
}
.navigation-icon::before, .navigation-icon::after, .navigation-icon {
  height: 2px;
  width: 2rem;
  display: inline-block;
  background-color: #777;
}
.navigation-icon::before, .navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation-icon::before {
  top: -0.8rem;
}
.navigation-icon::after {
  top: 0.8rem;
}
.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}
.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  transform: rotate(135deg);
  top: 0;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  transform: rotate(-135deg);
  top: 0;
}/*# sourceMappingURL=main.css.map */