/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
// this defines what 1rem is
font-size: 90%;  // 1 rem =10px 10/16 = 62.5%;

@include respond(tab-land){
  font-size: 56.25%;  //9
}

@include respond(tab-port){
  font-size: 50%;
}

@include respond(phone){
  font-size: 50%;
}


@include respond(big-desktop){
  font-size: 80%;  //12
}
}
body {
  font-family: "Lato", sans-serif;
  padding: 30px;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1rem;
  color: $color-gray-dark;
  background-color: $color-gray-light-1;
}