


// buttons
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border:none;
}

.btn-white {
  background-color: white;
  color: $color-gray-dark;
}

.btn-green{
  background-color: $color-primary;
  color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.btn:active,
.btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.btn::after {
  content: "";
  display: inline-block;
  /* have to specify above 2 */
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #ffffff;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.2);
  opacity: 0;
  /* z-index: 1; */
}

.btn-animated {
  animation: moveinbottom 0.5s ease-out 0.75s;
  /* animation-delay: .75s; */
  animation-fill-mode: backwards;
}

.btn-text {

  transition: all .2s;

  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
  }

  &:hover {

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    background-color: $color-primary;
    color: white;
  }

  &:active {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
  }
}