@import "variables.scss";
@import "mixins.scss";
@import "layout.scss";
@import "base";
@import "utilities.scss";
@import "animations.scss";
@import "grid.scss";
@import "section-about.scss";
@import "section-features.scss";
@import "header.scss";
@import "components.scss";









// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 1rem;

// .row {
//   max-width: $grid-width;
//   background-color: #eff;
//   margin: 0 auto;

//   &:first-child {
//     margin-top: 8rem;
//   }
//   &:not(:last-child) {
//     margin-bottom: $gutter-vertical;
//   }

//   @include clearfix;


//   [class^="col-"] {
//     background-color: rgb(242, 96, 43);
//     height: 3rem;
//     color: white;
//     float: left;
//     text-align: center;
//     &:not(:last-child) {
//       margin-right: $gutter-horizontal;
//     }
//   }

//   .col-1-3 {
//     width: calc((100% - #{$gutter-horizontal}* 2) / 3);
//   }

//   .col-2-3 {
//     width: calc(((100% - #{$gutter-horizontal}) / 3) * 2);
//   }

//   .col-1-4 {
//     width: calc((100% - #{$gutter-horizontal}* 3) / 4);
//   }

//   .col-3-4 {
//     width: calc(((100% - #{$gutter-horizontal}) / 4) * 3);
//   }
// }
