.section-stories{
  padding:3rem 0;

  // background-size: cover;
  // background-position: top;
  position: relative;
}



.bg-video{
  position:absolute;
  overflow:hidden;

  top:0;
  left:0;
  z-index:-10;
  width:100%;
  height:100%;
  opacity: 0.15;
  &-content{

    height:100%;
    width:100%;
    object-fit:cover;

  }

}

.story{

  width:75%;
  margin:0 auto;
  box-shadow: 0 3rem 6rem rgba(0,0,0, 0.3);
  background-color: rgba(white,0.5);
  border-radius:3px;
  padding:6rem;
  transform: skewX(-15deg);

  &-shape{
    height:10rem;
    width:10rem;
    position: relative;;
    float:left;
    // the element must be floated for this and needs dimensions width height
    shape-outside: circle(50% at 50% 50%);
     -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    // border-radius: 50%;
    transform: translateX(-2rem) skewX(15deg);;
    overflow: hidden;


    &-name{
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,0) ;
      color:white;
      text-transform: uppercase;
      font-size: $default-font-size;
      text-align:center;
      transition: all .5s;
      backface-visibility: hidden;
    }

    &-img{
      height:100%;
      transform: translateX(-2.5rem) scale(1.4);
      backface-visibility: hidden;
      transition: all 0.2s;
    }

    &:hover &-name{
      transform: translate(-50%, -50%);
      opacity:1;
    }

    &:hover &-img{
      filter: blur(3px);
      transform: translateX(-2.5rem) scale(1);
    }

    // &:hover &-img:hover {
    //   opacity:0.3;
    // }
  }



  &-text{
    transform:skewX(15deg);
  }

}
