.section-book{
  padding:0 7rem 8rem;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
}


.book{
  background-image:linear-gradient(105deg, rgba(white,0.9) 0% ,
  rgba(white,0.8) 50% ,
  transparent 50% ),
  url(../img/nat-10.jpg);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0,0.3);
  background-size: 100%;
  border-radius: 3px;
  background-image: cover;


  @include respond(tab-land){
    background-image:linear-gradient(105deg, rgba(white,0.9) 0% ,
    rgba(white,0.8) 65% ,
    transparent 65% ),
    url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(phone){
    background-image:linear-gradient(to right, rgba(white,0.9) 0% ,
    rgba(white,0.9) 100% ,
    ),
    url(../img/nat-10.jpg);
    background-size: cover;
  }

&-block{
  padding-top:1rem;
}
}

.form{
  width:50%;
  padding:2rem;

  @include respond(tab-land){
    width:65%;
}
@include respond(phone){
  width:100%;
}
  &-group:not(:last-child){
    margin-bottom: 2rem;
  }

  &-input{
    font-size:$default-font-size;
    padding: 1rem 1rem;
    border-radius:2px;
    background-color: rgba(white,0.6);
    border:none;
    font-family: inherit;
    color:inherit;
    display: block;
    width:90%;
    border-bottom: 3px solid transparent;


    &::-webkit-input-placeholder{
      color: $color-gray-dark;
      font-size: 1rem;
    }

    &:focus{
      outline:none;
      border-bottom: 3px solid $color-primary-dark;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0,0.3);

      &:invalid{
        border-bottom: 3px solid $color-secondary-dark-1;
      }

    }


  }

  &-label{

    transition: all .3s;
    display: block;
    //transition: translateY(-2rem);

  }

  &-input:placeholder-shown + &-label{

    opacity:0;
    visibility: hidden;
    transform: translateY(-3rem);
  }


  &-radio-group{
    width:50%;
    float: left;

    @include respond(phone){
      width:100%;
      margin-bottom:2rem;
  }
  }

  &-radio-input{
    visibility: hidden;
  }

  &-radio-label{
    font-size:$default-font-size;
    cursor:pointer;
    position: relative;
    padding-left:1rem;
  }

  &-radio-button{

    height:2rem;
    width:2rem;
    display: inline-block;
    border-radius:50%;
    border: 3px solid $color-primary;
    position: absolute;
    top:-0.25rem;
    left:-1.25rem;

    // ::after property needs display and content set up
    &::after{
      height:1rem;
      width:1rem;
      display:block;
      content:"";
    background-color: $color-primary;
    border-radius:30%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
    transition:opacity .2s;
  }
  }

  &-radio-input:checked ~ &-radio-label &-radio-button::after{
    opacity: 1;
  }

}