// variables
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-dark-2: #383737;
$color-secondary-light-1: #ffb900;
$color-secondary-dark-1: #ff7730;
$color-secondary-light-2: #2998ff;
$color-secondary-dark-2:#5643fa;
$color-secondary-light-3:#fa6a91;
$color-secondary-dark-3:#d81a4c;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;

$default-font-size: 1.2rem;